<div class="apt-dialogTitle">
    <h2 *ngIf="!isNew">Container met {{container.inhoud}} bewerken</h2>
    <h2 *ngIf="isNew">Container aanmaken</h2>
</div>
<form [formGroup]="generalForm" (ngSubmit)="onSubmit(generalForm.value)">

    <!-- TODO : Make this an option -->
    <mat-form-field class="col-12 col-lg-6 w-100">
        <mat-label>Schip ID</mat-label>

        <input matInput formControlName="schipId" type="number">

        <mat-error *ngIf="generalForm.controls['schipId'].invalid">
            Schip is vereist
        </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-lg-6 w-100">
        <mat-label>Gewicht</mat-label>

        <input matInput formControlName="gewicht" type="number">

        <mat-error *ngIf="generalForm.controls['gewicht'].invalid">
            (Geschat) Gewicht is vereist
        </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-lg-6 w-100">
        <mat-label>Startlocatie</mat-label>

        <input matInput formControlName="startLocatie" type="text">

        <mat-error *ngIf="generalForm.controls['startLocatie'].invalid">
            Startlocatie is vereist
        </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 col-lg-6 w-100">
        <mat-label>Eindlocatie</mat-label>

        <input matInput formControlName="eindLocatie" type="text">

        <mat-error *ngIf="generalForm.controls['eindLocatie'].invalid">
            Eindlocatie is vereist
        </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 w-100">
        <mat-label>Inhoud</mat-label>

        <input matInput formControlName="inhoud" type="text">

        <mat-error *ngIf="generalForm.controls['inhoud'].invalid">
            Inhoud is vereist
        </mat-error>
    </mat-form-field>
    
    <div class="float-right">
        <button type="button" class="mr-2" mat-button (click)="onCloseDialog()">
            Annuleren
          </button>
        <button mat-raised-button type="submit" color="primary"
            [disabled]="!generalForm.dirty || generalForm.invalid">
            <mat-icon class="mr-2">local_shipping</mat-icon>
            <span>Bevestig</span>
        </button>
    </div>
</form>